.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px 100px;
  color: white;
}

.App-footer {
  margin-top: 30px;
  padding: 10px;
  color: gray;
}

.no-padding {
  padding: 0
}
