.App-header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
  color: white;
}

.App-header h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.App-footer {
  margin-top: 30px;
  padding: 10px;
  color: gray;
}

.no-padding {
  padding: 0
}
